*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div {
  margin: 0;
  padding: 0;
}

:root {
  --body-bg: #191a1a;
  --body-fg: #e7e6e5;

  --stroke: rgba(127.5, 127.5, 127.5, 0.4);
  --primary: #DB5599;

  --filled-fg: white;
  --filled-bg: #990461;

  --button-tint: #312;

  background: var(--body-bg);
  color: var(--body-fg);
  line-height: 1.5;
}

body {
  max-width: 100ch;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.paper {
  text-decoration: none;
  color: var(--body-fg);

  border: .1rem solid var(--stroke);
  box-shadow: 0.15rem 0.15rem rgba(0, 0, 0, 0.65);
  margin: 0.2rem 0.3rem;
  padding: 0 0.5rem;
  transform: rotate(var(--angle, 0));

  background: var(--button-tint);
}

#root > h1 {
  display: block;
  width: fit-content;
  margin: 2rem auto;

  padding: 1rem;

  color: var(--primary);
  font-size: 2rem;
}

#quickjump {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;

  input {
    flex-grow: 1;

    padding: 0.2em 0;
    font-size: 1em;
  }

  br {
    width: 0.5em;
  }

  button {
    padding: 0.2em 0.5em;
    font-size: 1em;
  }
}

main#listing {
  h2 {
    background: var(--filled-bg);
    color: var(--filled-fg);
    margin: 3em 0 0;

    padding: 0 calc((1lh - 1em) / 2);
  }

  h3 {
    margin: 1em;

    &::before {
      content: "#";
    }
  }

  ul {
    margin-top: 0;
  }
}

hr {
  margin: 4em 0;
}

#root > section {
  margin: 0.5rem 0;
}
